.App {
  text-align: center;
  background-color: #333; /* Example: light gray-blue background */
  min-height: 100vh;
  padding: 2rem;
}

/* body {
  background-color: #282c34;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  font-size: calc(10px + 2vmin);
  color: white;
  gap: 1rem;
  padding: 1rem;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.recipe-container {
  display: flex;
  justify-content: flex-end; /* push content to right */
  width: 100%;
  padding: 1rem; /* optional padding */
}

.recipe-box {
  width: 300px; /* or whatever width you want */
  /* Optional styling */
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 8px;
  color: #333;
}
